<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-[#234035] min-h-screen">
    <div class="container mx-auto p-8">
        <h1 class="text-[#F8DCB3] text-3xl mb-8">Editar Usuário</h1>
        <form action="{{ url_for('admin.edit_user', user_id=user_id) }}" method="POST">
            <div class="mb-4">
                <label for="altura" class="block text-white">Altura:</label>
                <input type="text" id="altura" name="altura" value="{{ user['altura'] }}" class="w-full p-2 rounded">
            </div>
            <div class="mb-4">
                <label for="peso" class="block text-white">Peso:</label>
                <input type="text" id="peso" name="peso" value="{{ user['peso'] }}" class="w-full p-2 rounded">
            </div>
            <div class="mb-4">
                <label for="cintura" class="block text-white">Cintura:</label>
                <input type="text" id="cintura" name="cintura" value="{{ user['cintura'] }}" class="w-full p-2 rounded">
            </div>
           
            <div class="mb-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Atualizar</button>
            </div>
        </form>
    </div>
</body>
</html>
