<!DOCTYPE html>
<html lang="pt-BR">
<head>
       <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css ">
    <title>Vigorize</title>
</head>
<body class="bg-[#F3D3A0] min-h-screen flex flex-col items-center justify-center">
    <style>
        /* Estilo adicional para a transição da aba */
        .slide-in {
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
        }
        .slide-in.active {
            transform: translateX(0);
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function showFlashMessages(messages) {
            messages.forEach(message => {
                alert(message);  // Exibe um alerta com a mensagem
            });
        }
    </script>
</head>
<body class="bg-[#F8DCB3] min-h-screen">
    <header class="h-[80px] bg-[#234035] w-full mx-auto fixed top-0 left-0 right-0 z-10">
        <nav class="flex justify-between items-center space-x-6 px-4 pt-2">
            {% if profile_picture_url %}
                <img src="{{ profile_picture_url }}" alt="Foto de Perfil" class='w-16 h-16 rounded-full border-[2px] border-[#F8DCB3]'>
            {% else %}
            <img src="{{ url_for('static', filename='VIGORIZE_bege.svg') }}" alt="Foto de Perfil Padrão" class='w-16 h-16 rounded-full'>
            {% endif %}
            <a class="text-[#F8DCB3] text-xl" href="/perfil">Usuário</a>
            <a class="text-[#F8DCB3] text-xl" href="/perfil">Tabela Nutricional</a>
            <img src="{{ url_for('static', filename='VIGORIZE_bege.svg') }}" alt="Logo VIGORIZE" class=" w-16">
            <a class="text-[#F8DCB3] text-xl" href="/perfil">Planejar Refeições</a>
            <a class="text-[#F8DCB3] text-xl" href="/imc">Calcular IMC</a>
            <img id="config-button" src="{{ url_for('static', filename='engrenagem.svg') }}" alt="Foto de Perfil Padrão" class="cursor-pointer w-8">
        </nav>
    </header>

    <aside id="config-panel" class="slide-in fixed top-[80px] right-0 h-[calc(100%-70px)] w-[440px] bg-[#234035] text-white shadow-lg z-20 flex flex-col justify-between overflow-y-auto">
        <div class="p-4">
            <!-- Conteúdo da aba de configuração aqui -->
            <form action="{{ url_for('imc.pagina_calculadora_imc')}}" method="POST" enctype="multipart/form-data" class="mb-8">
                <input type="hidden" name="action" value="save_profile">
                
                <!-- Input de arquivo escondido -->
                <input type="file" id="profile-picture" accept="image/*" name="file" required class="hidden" onchange="updateProfilePicturePreview()">
                
                <!-- Botão personalizado -->
                <img type="button" id="upload-button" class="border-[3px] border-[#F8DCB3] w-64 h-64 rounded-full block mx-auto cursor-pointer" src="{{ profile_picture_url }}" onclick="document.getElementById('profile-picture').click();">
                
                <!-- Submit button -->
                <button type="submit" class="bg-[#ED8D00] hover:bg-[#f2a30a] font-bold rounded-full p-2 text-white block mx-auto mt-4">Salvar Foto</button>
            </form>
    
            <form action="{{ url_for('imc.pagina_calculadora_imc')}}" method="POST">
                <input type="hidden" name="action" value="recover_password">
                <button class="bg-[#ED8D00] hover:bg-[#f2a30a] text-white font-bold py-2 px-6 rounded-full mt-6 block mx-auto">Recuperar Senha</button>
            </form>
        </div>
    
        <!-- Botões no final da página -->
        <div class="p-4 flex justify-center space-x-4 mb-4">
            <form action="{{ url_for('login.pagina_login')}}" method="POST">
                <input type="hidden" name="action" value="logout">
                <button class="hover:bg-[#b01002fe] font-bold rounded-full py-2 px-8 bg-[#b01002d7] text-white">Logout</button>
            </form>
    
            <form action="{{ url_for('imc.pagina_calculadora_imc')}}" method="POST" onsubmit="return confirmDeletion()">
                <input type="hidden" name="action" value="delete_account">
                <button class="hover:bg-[#b01002fe] font-bold p-2 bg-[#b01002d7] text-white rounded-full">Excluir Conta</button>
            </form>
        </div>
    </aside>

    <div class="w-full max-w-md bg-[#F8DCB3] shadow-md rounded-[50px] px-8 pt-6 pb-8 mb-4 mt-6">
        <h2 class="text-center text-2xl font-bold text-[#234035] mb-6">Calculadora de IMC</h2>
        
        <!-- Formulário para cálculo do IMC -->
        <form action="{{ url_for('imc.pagina_calculadora_imc') }}" method="POST">
            <input type="hidden" name="action" value="calcular_imc">
            <div class="mb-4">
                <label class="block text-[#234035] text-sm font-bold mb-2" for="altura">Altura (cm):</label>
                <input class="shadow appearance-none border rounded-[50px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                       id="altura" name="altura" type="number" step="0.01" placeholder="Sua altura em centímetros" required>
            </div>
            <div class="mb-4">
                <label class="block text-[#234035] text-sm font-bold mb-2" for="peso">Peso (kg):</label>
                <input class="shadow appearance-none border rounded-[50px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                       id="peso" name="peso" type="number" step="0.01" placeholder="Seu peso em quilogramas" required>
            </div>

            <!-- Botão para calcular o IMC -->
            <div class="flex items-center justify-between">
                <button class="bg-[#ED8D00] hover:bg-[#f2a30a] text-white font-bold py-2 px-6 rounded-full mt-6">Calcular</button>
            </div>
        </form>

        <!-- Exibir resultado do IMC -->
        {% if imc_result %}
            <div class="mt-6 text-center">
                <p class="text-[#234035] text-xl font-bold">Seu IMC é: {{ imc_result | round(2) }}</p>
            </div>
        {% endif %}
        
        <!-- Exibir mensagens flash -->
        
    </div>

    <button class="bg-[#ED8D00] hover:bg-[#f2a30a] text-white font-bold py-2 px-6 rounded-full mt-6">
        Ir para minhas refeições
    </button>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <script>
                // Transforma mensagens de flash em um array para o JavaScript
                const messages = {{ messages | tojson }};
                showFlashMessages(messages);  // msg[1] é a mensagem, msg[0] é a categoria
            </script>
        {% endif %}
    {% endwith %}

    <script>

        // JavaScript para controlar a visibilidade da aba
        document.getElementById('config-button').addEventListener('click', function() {
            document.getElementById('config-panel').classList.toggle('active');
        });

        document.getElementById('close-button').addEventListener('click', function() {
            document.getElementById('config-panel').classList.remove('active');
        });

    // Script do botão da foto do perfil
    function updateProfilePicturePreview() {
        var fileInput = document.getElementById('profile-picture');
        var uploadButton = document.getElementById('upload-button');
        
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                uploadButton.src = e.target.result;
            }
            
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
    function confirmDeletion() {
        return confirm("Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.");
    }
    </script>
</body>
</html>
