<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-[#234035] min-h-screen flex items-center justify-center">
    <div class="container p-8 bg-white rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Editar Usuário</h1>
        <form action="{{ url_for('admin.edit_user', user_id=user_id) }}" method="POST">
            {% for input in inputs %}
                <div class="mb-4">
                    <label class="block text-gray-700" for="{{ input.name }}">{{ input.label }}</label>
                    <input class="w-full p-2 border rounded-lg"
                    type="{{ input.type }}"
                    id="{{ input.id }}"
                    name="{{ input.name }}"
                    max="{{ input.max }}"
                    min="{{ input.min }}"
                    value="{{ input.value }}">
                </div>
            {% endfor %}
            
            <div class="mb-4">
                <label class="block text-gray-700" for="fisico">Atividade Física</label>
                <select class="w-full p-2 border rounded-lg" name="fisico" id="fisico" required>
                    <option value="{{ user['fisico'] }}">{{ user['fisico'] }}</option>
                    {% for fisico in fisicos %}
                        {% if fisico != atividade_user %}
                            <option value="{{ fisico }}">{{ fisico }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="flex justify-between">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Salvar</button>
                <a href="{{ url_for('admin.admin_dashboard') }}" class="bg-gray-500 text-white px-4 py-2 rounded">Cancelar</a>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <script>
                // Transforma mensagens de flash em um array para o JavaScript
                    const messages = {{ messages | tojson }};
                    alert(messages.map(msg => msg[1]));  // msg[1] é a mensagem, msg[0] é a categoria
                </script>
            {% endif %}
        {% endwith %}
</body>
</html>
