<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Vigorize</title>
    <style>
        /* Estilo adicional para a transição da aba */
        .slide-in {
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
        }
        .slide-in.active {
            transform: translateX(0);
        }
        /* Estilo do dropdown */
        #metric-selector {
            margin-right: 20px;
            background-color: #F8DCB3;
            color: #576A5C;
            border: none;
            padding: 8px 12px;
            font-size: 14px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
}

    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        function showFlashMessages(messages) {
            messages.forEach(message => {
                var category = message[0];  // Exemplo: 'success' ou 'danger'
                var text = message[1];  // A mensagem em si
                
                // Aqui você pode exibir a mensagem como preferir, exemplo com 'alert`:
                alert(`${category}: ${text}`);  // Exibe um alerta com a mensagem
            });
        }
    </script>
</head>
<body class="bg-[#F8DCB3] min-h-screen">
    <header class="h-[80px] bg-[#234035] w-full mx-auto fixed top-0 left-0 right-0 z-10">
        <nav class="flex justify-between items-center space-x-6 px-4 pt-2">
            {% if profile_picture_url %}
                <img src="{{ profile_picture_url }}" alt="Foto de Perfil" class='w-16 h-16 rounded-full border-[2px] border-[#F8DCB3]'>
            {% else %}
            <img src="{{ url_for('static', filename='VIGORIZE_bege.svg') }}" alt="Foto de Perfil Padrão" class='w-16 h-16 rounded-full'>
            {% endif %}
            <a class="text-[#F8DCB3] text-xl" href="/perfil">Usuário</a>
            <a class="text-[#F8DCB3] text-xl" href="/perfil">Tabela Nutricional</a>
            <img src="{{ url_for('static', filename='VIGORIZE_bege.svg') }}" alt="Logo VIGORIZE" class=" w-16">
            <a class="text-[#F8DCB3] text-xl" href="/perfil">Planejar Refeições</a>
            <a class="text-[#F8DCB3] text-xl" href="/imc">Calcular IMC</a>
            <img id="config-button" src="{{ url_for('static', filename='engrenagem.svg') }}" alt="Foto de Perfil Padrão" class="cursor-pointer w-8">
        </nav>
    </header>
    <!-- ABA DE CONFIGURAÇÃO -->
    <!-- ABA DE CONFIGURAÇÃO -->
    <aside id="config-panel" class="slide-in fixed top-[80px] right-0 h-[calc(100%-70px)] w-[440px] bg-[#234035] text-white shadow-lg z-20 flex flex-col justify-between overflow-y-auto">
        <div class="p-4">
            <!-- Conteúdo da aba de configuração aqui -->
            <form action="{{ url_for('perfil.pagina_perfil')}}" method="POST" enctype="multipart/form-data" class="mb-8">
                <input type="hidden" name="action" value="save_profile">
                
                <!-- Input de arquivo escondido -->
                <input type="file" id="profile-picture" accept="image/*" name="file" required class="hidden" onchange="updateProfilePicturePreview()">
                
                <!-- Botão personalizado -->
                <img type="button" id="upload-button" class="border-[3px] border-[#F8DCB3] w-64 h-64 rounded-full block mx-auto cursor-pointer" src="{{ profile_picture_url }}" onclick="document.getElementById('profile-picture').click();">
                
                <!-- Submit button -->
                <button type="submit" class="bg-[#ED8D00] hover:bg-[#f2a30a] font-bold rounded-full p-2 text-white block mx-auto mt-4">Salvar Foto</button>
            </form>
    
            <form action="{{ url_for('perfil.pagina_perfil')}}" method="POST">
                <input type="hidden" name="action" value="recover_password">
                <button class="bg-[#ED8D00] hover:bg-[#f2a30a] text-white font-bold py-2 px-6 rounded-full mt-6 block mx-auto">Recuperar Senha</button>
            </form>
        </div>
    
        <!-- Botões no final da página -->
        <div class="p-4 flex justify-center space-x-4 mb-4">
            <form action="{{ url_for('login.pagina_login')}}" method="POST">
                <input type="hidden" name="action" value="logout">
                <button class="hover:bg-[#b01002fe] font-bold rounded-full py-2 px-8 bg-[#b01002d7] text-white">Logout</button>
            </form>
    
            <form action="{{ url_for('perfil.pagina_perfil')}}" method="POST" onsubmit="return confirmDeletion()">
                <input type="hidden" name="action" value="delete_account">
                <button class="hover:bg-[#b01002fe] font-bold p-2 bg-[#b01002d7] text-white rounded-full">Excluir Conta</button>
            </form>
        </div>
    </aside>
    <!-- PRINCIPAL-->
    <!-- PRINCIPAL-->
    <main class="pt-[80px]">
        <div class="flex space-x-4"> <!-- Flex container para alinhar lado a lado -->
            <!-- Div de Dados Pessoais -->
            <div class="bg-[#234035] space-y-4 h-screen w-[30%] p-6 shadow-md">
                <div class="text-center">
                    <h3 class="text-white text-xl font-light">Dados Pessoais</h3>
                </div>
                <!-- FORMULÁRIO DE ATUALIZAÇÃO -->
                <form id="form_update_profile" action="{{ url_for('perfil.pagina_perfil')}}" method="POST">
                    <input type="hidden" name="action" value="update_profile">
                    <div class="grid grid-cols-2 gap-y-4 gap-x-6">
                        {% for input in inputs %}
                            <div class="flex flex-col">
                                <label class="text-white font-normal mb-2" for="{{ input.name }}">{{ input.label }}</label>
                                <input class="bg-[#F8DCB3] px-4 py-2 rounded-lg outline-none border-0 text-right font-semibold form-control w-full"
                                type="{{ input.type }}"
                                id="{{ input.id }}"
                                name="{{ input.name }}"
                                max="{{ input.max }}"
                                min="{{ input.min }}"
                                value="{{ input.value }}">
                            </div>
                        {% endfor %}
                        <!-- Select field -->
                        {% if sexo_user == "Feminino" %}
                        <div class="flex flex-col">
                        {% else %}
                        <div class="flex flex-col col-span-2">
                        {% endif %}
                            <label class="text-white font-normal mb-2" for="fisico">Atividade Física</label>
                            <select class="bg-[#F8DCB3] px-4 py-2 rounded-lg outline-none border-0 text-black font-semibold w-full"
                            name="fisico" id="fisico" required>
                                <option value="{{ atividade_user }}" selected>{{ atividade_user }}</option>
                                {% for fisico in fisicos %}
                                    {% if fisico != atividade_user %}
                                        <option value="{{ fisico }}">{{ fisico }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Botão de salvar -->
                        <div class="col-span-2 text-center mt-4">
                            <button class="bg-[#ED8D00] hover:bg-[#f2a30a] font-bold rounded-full py-2 px-8 text-white">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
    
            <!-- Div com os Círculos -->
            <div class="flex-col items-center justify-center mt-7">
                <div class="flex justify-center space-x-20">
                    <!-- Primeiro círculo -->
                    <div class="relative w-52 h-52 rounded-full flex items-center justify-center"
                    style="background-image: conic-gradient(#F3D3A0 {{ percent_gordura }}%, #576A5C {{ percent_gordura }}%);
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); clip-path: inset(0 round 100%);">
                            <div class="absolute w-[185px] h-[185px]   bg-[#F8DCB3] rounded-full"
                            style="box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);"> <!-- Sombra interna -->
                            </div>
                    <div class="relative text-[#576A5C] text-3xl text-center">
                        {{ percent_gordura }}%
                        <div class="text-base">Gordura<br>Dietas</div>
                    </div>
                </div>
                    <!-- Segundo círculo -->
                    <div class="relative w-52 h-52 rounded-full flex items-center justify-center"
                        style="background-image: conic-gradient(#F3D3A0 {{ imc }}%, #576A5C {{ imc }}%);box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
                        <div class="absolute w-[185px] h-[185px] bg-[#F8DCB3] rounded-full"style="box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);"></div>
                        <div class="relative text-[#576A5C] text-4xl text-center">
                            {{ imc }}
                            <div class="text-base">IMC</div>
                            <div class="text-base">{{classificacao_imc}}</div>
                        </div>
                    </div>
                    <!-- Terceiro círculo -->
                    <div class="relative w-52 h-52 rounded-full flex items-center justify-center"
                        style="background-image: conic-gradient(#F3D3A0 {{ caloriaMedia }}%, #576A5C {{ caloriaMedia }}%); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
                        <div class="absolute w-[185px] h-[185px] bg-[#F8DCB3] rounded-full"style="box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);"></div>
                        <div class="relative text-[#576A5C] text-4xl text-center">
                            {{ caloria }}
                            <div class="text-base">Calorias<br>Dietas</div>
                        </div>
                    </div>
                </div>
                <!-- Adiciona o gráfico abaixo dos círculos -->
                <div class="flex justify-center mt-8 w-full">
                    <canvas id="activityGrowthChart" width="800" height="250"></canvas>
                </div>
            </div>
        </div>
   
    

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <script>
                // Transforma mensagens de flash em um array para o JavaScript
                    const messages = {{ messages | tojson }};
                    showFlashMessages(messages);  // msg[1] é a mensagem, msg[0] é a categoria
                </script>
            {% endif %}
        {% endwith %}

        <!-- Dropdown de seleção -->
    <div class="flex justify-end mb-4">
        <select id="metric-selector" class="bg-[#F8DCB3] text-[#576A5C] p-2 rounded shadow">
            <option value="all">Mostrar todas as métricas</option>
            <option value="calorias">Calorias</option>
            <option value="imc">IMC</option>
            <option value="gordura">Gordura</option>
        </select>
    </div>


    <script>
    // Configuração inicial do gráfico
    const ctx = document.getElementById('activityGrowthChart').getContext('2d');
    const initialData = {
        labels: ['Jan 1', 'Jan 2', 'Jan 3', 'Jan 4', 'Jan 5', 'Jan 6', 'Jan 7', 'Jan 8', 'Jan 9', 'Jan 10', 'Jan 11', 'Jan 12'],
        datasets: [
            {
                label: 'Calorias',
                data: {{ calorias_data | tojson }},
                backgroundColor: '#BC6C25',
                borderColor: '#BC6C25',
                borderWidth: 2,
                borderRadius: 5,
                barThickness: 10,
            },
            {
                label: 'IMC',
                data: {{ imc_data | tojson }},
                backgroundColor: '#606C38',
                borderColor: '#606C38',
                borderWidth: 2,
                borderRadius: 5,
                barThickness: 10,
            },
            {
                label: 'Gordura',
                data: {{ percent_gordura_data | tojson }},
                backgroundColor: '#F7D08A',
                borderColor: '#F7D08A',
                borderWidth: 2,
                borderRadius: 5,
                barThickness: 10,
            }
        ]
    };

    const activityGrowthChart = new Chart(ctx, {
        type: 'bar',
        data: initialData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom',
                    labels: {
                        color: '#576A5C',
                        font: {
                            family: 'Arial, sans-serif',
                            size: 14,
                        }
                    }
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false,
                    },
                    ticks: {
                        color: '#576A5C',
                        font: {
                            family: 'Arial, sans-serif',
                            size: 12,
                        }
                    }
                },
                y: {
                    beginAtZero: true,
                    max: 100,
                    grid: {
                        color: '#576A5C', 
                        lineWidth: 1,
                        drawBorder: false,
                    },
                    ticks: {
                        color: '#576A5C',
                        font: {
                            family: 'Arial, sans-serif',
                            size: 12,
                        },
                        callback: function(value) {
                            return value + "%";
                        }
                    }
                }
            }
        }
    });

    document.getElementById('metric-selector').addEventListener('change', function() {
        const selectedMetric = this.value;
        
        // Define os datasets com base na seleção
        let filteredDatasets = [];
    
        if (selectedMetric === 'all') {
            filteredDatasets = initialData.datasets; // Mostra todos os dados
        } else {
            filteredDatasets = initialData.datasets.filter(dataset => dataset.label.toLowerCase() === selectedMetric);
        }
    
        // Atualiza o máximo do eixo Y com base na métrica selecionada
        let maxScaleY = 100; // Padrão para porcentagem
        if (selectedMetric === 'calorias') {
            maxScaleY = 10000; // Define o máximo com base nos dados de calorias
        } else if (selectedMetric === 'imc') {
            maxScaleY = 50; // Define o máximo com base nos dados de IMC
        } else if (selectedMetric === 'gordura') {
            maxScaleY = 100; // Define o máximo para gordura como 100 (porcentagem)
        }
    
        // Atualiza as configurações do gráfico
        activityGrowthChart.options.scales.y.max = maxScaleY;
        activityGrowthChart.data.datasets = filteredDatasets;
        activityGrowthChart.update();
    });
    
        // JavaScript para controlar a visibilidade da aba
        document.getElementById('config-button').addEventListener('click', function() {
            document.getElementById('config-panel').classList.toggle('active');
        });

        document.getElementById('close-button').addEventListener('click', function() {
            document.getElementById('config-panel').classList.remove('active');
        });
        // Script do botão da foto do perfil
        function updateProfilePicturePreview() {
            var fileInput = document.getElementById('profile-picture');
            var uploadButton = document.getElementById('upload-button');
            
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    uploadButton.src = e.target.result;
                }
                
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
        function confirmDeletion() {
            return confirm("Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.");
        }
        </script>
</body>
</html>