<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css ">
    <title>Vigorize</title>
</head>
<body class="bg-[#234035] flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md space-y-6 text-center">
        <!-- Título da página -->
        <h1 class="text-[#F8DCB3] text-5xl font-bold">Recuperar Senha</h1>

        <!-- Formulário de recuperação de senha -->
        <form action="{{ url_for('recuperar.pagina_recuperar')}}" method="POST" class="space-y-6">
            <!-- Inputs -->
            <div class="space-y-4">
                {% for input in inputs %}
                    <input class="bg-[#F8DCB3] p-3 block rounded-full border border-black placeholder:text-black font-semibold w-full text-center" 
                           type="{{ input.type }}" 
                           name="{{ input.name }}" 
                           placeholder="{{ input.placeholder }}" 
                           required>
                {% endfor %}
            </div>

            <!-- Botão de Recuperar -->
            <div>
                <button class="p-3 w-full bg-[#ED8D00] text-white font-bold rounded-full hover:bg-[#f2a30a] focus:ring-2 focus:ring-[#f2a30a] transition-all duration-200" id="btnRecuperar">
                    Recuperar
                </button>
            </div>

            <!-- Links de Cadastrar e Login -->
            <div class="flex justify-between text-white font-medium underline">
                <a href="/cadastro" class="hover:text-[#f2a30a]">Cadastrar</a>
                <a href="/login" class="hover:text-[#f2a30a]">Login</a>
            </div>
        </form>

        <!-- Exibição de mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <script>
                const messages = {{ messages | tojson }};
                showFlashMessages(messages.map(msg => msg[1]));
            </script>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>