<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Usuário</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-[#234035] min-h-screen">
    <div class="container mx-auto p-8">
        <h1 class="text-[#F8DCB3] text-5xl mb-8">Detalhes do Usuário</h1>

        <div class="mt-6"></div>
            <a href="{{ url_for('admin.admin_dashboard') }}" class="bg-gray-500 text-white px-4 py-2 rounded">Voltar</a>
        </div>
        
        <div class="bg-white p-6 rounded shadow-lg w-[80%] m-auto">
            
            {% for data in datas %}
                <p><strong>{{ data.label }}:</strong></p>
                <p>{{data.value }}</p>
            {% endfor %}
            
            {% if user['profile_image'] %}
                <p><strong>Imagem de Perfil:</strong></p>
                <img src="{{ user['profile_image'] }}" alt="Imagem de Perfil" class="w-32 h-32 object-cover">
            {% endif %}
        </div>
        
        
    </div>
</body>
</html>
